.cont-1 {
    width: 60%;
    background-color: black;
    color: white;
    position: absolute;
    top: 57%;
    left: 57%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

input[type="text"],
input[type="number"] input[type="password"],
input[type="email"] {
    width: 80%;
    border-color: black;
    border-radius: 2px;
    padding: 7px;
    margin-bottom: 1%;
}

.dark-toast {
    background-color: black;
    color: #fff;
}

.dark-toast .Toastify__close-button {
    color: #fff;
}

.title {
    position: absolute;
    align-self: center;
    font-size: 2rem;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 850px) {
    .cont-1 {
        width: 80%;
    }
}