.cont-3 {
    width: 50%;
    max-height: 60%;
    background-color: #222;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    overflow:auto;
    scroll-behavior: smooth;
    scrollbar-color: red yellow;
    scrollbar-width: thin;
}

.block{
    display: inline-block;
    width: 45%;
}

.title{
    position: absolute;
    align-self: center;
    font-size: 2rem;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@media screen and (max-width: 850px){
    .cont-3{
        width: 80%;
    }
}