.dark-toast {
    background-color: #222;
    color: #fff;
}

.dark-toast .Toastify__close-button {
    color: #fff;
}

.title {
    position: absolute;
    align-self: center;
    font-size: 2rem;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
}