.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    margin-top: 5%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222;
    text-align: center;
    border-radius: 5px;
    top: 15%
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    transition: 0.3s;
    color: white;
    border-top: 2px solid rgb(137, 137, 137);
    border-bottom: 2px solid rgb(137, 137, 137);
}

.sidenav a:hover {
    background-color: #585858;
}

.navmargin {
    margin-top: 20%;
}

.Nav-menu {
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;
    margin-top: 50%;
}

@media screen and (max-width: 850px) {
    .sidenavin {
        width: 30px;
    }

    .sidenavout{
        width: 200px;
    }

    .sidenav a{
        color: white;
    }

    .NavbarItem {
        z-index: 99;
    }

    .hide {
        display: none;
    }

    .nav-links {
        display: block;
        widows: 100%;
        padding: 2rem 0;
        color: #222;
    }

    .nav-links:hover {
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(20px);
    }

    .menu-icon {
        display: block;
    }
}