.subjectdetailcontainer {
    width: 65%;
    height: 70%;
    max-height: 550px;
    background-color: #222;
    color: white;
    position: absolute;
    margin-top: 1%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    overflow: auto;

}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inline input{
    height: 1.4rem;
    font-size: 1.1rem;
    border-radius: 5px;
}

.block1{
    width: 33%;
}

.block2{
    width: 50%;
}

.block3{
    width: 20%;
}

.block4{
    width: 25%;
}



.gap3 {
    max-width: 200px;
    width: 100%;
}

.gap4 {
    width: 25%;
}

.label {
    text-align: left;
    width: '80%';
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5px;
    margin-top: 15px;
}

.error-msg {
    width: 100%;
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.scrollhost {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollhost::-webkit-scrollbar {
    display: none;
}

.scroll-bar {
    width: 10px;
    height: 100%;
    right: 0;
    top: 0px;
    position: absolute;
    border-radius: 7px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.35);
}

.scrollhost-container {
    position: relative;
    height: 100%;
}

@media screen and (max-width: 850px){
    .inline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .inline input{
        height: 1.4rem;
        font-size: 1.1rem;
        border-radius: 5px;
    }
    
    .block1{
        width: 100%;
    }
    
    .block2{
        width: 100%;
    }
    
    .block3{
        width: 100%;
    }
    
    .block4{
        width: 100%;
    }
}